.grid-container {
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "content sidebar"
        "footer footer";
    grid-template-columns: 2fr 1fr;
    padding: 10px;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 20px;
    align-items: center;
}

.header .logo {
    width: 50px;
    border: 2px solid black;
    border-radius: 100%;
    align-items: center;
}

.nav {
    grid-area: nav;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    display: inline;
    margin: 0 15px;
    border: 1px solid black;
    padding: 10px;
}

.nav ul li:hover {
    background-color: orange;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav ul li a:hover {
    color: white;
    background-color: orange;
}

.content {
    grid-area: content;
    border: 1px solid black;
}

.content h2 {
    text-align: center;
}

.content img {
    display: block;
    margin: 0 auto;
    width: 100px;
}

.sidebar {
    grid-column: sidebar;
    border: 1px solid black;
}

.sidebar .noticias {
    border: 1px solid black;
}

.sidebar .noticias h3 {
    text-align: center;
}


.sidebar .video {
    border: 1px solid black;
}

.sidebar .video h3 {
    text-align: center;
}

.footer {
    grid-area: footer;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}